<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/messages.css">
    <title>Messages - My Void</title>
</head>
<body>

    <!-- Navigation -->
    <header>
        <nav class="navbar">
            <div class="logo">Void</div>
            <div class="menu-icon" id="menu-icon">
                &#9776;
            </div>
            <ul class="nav-links" id="nav-links">
                <li><a href="index.html">Here</a></li>
                <li><a href="quotes.html">Metaphors</a></li>
                <li><a href="movies.html">Frames</a></li>
                <li><a href="songs.html">Beats</a></li>
                <li><a href="messages.html">Chat</a></li>
            </ul>
        </nav>
    </header>

    <!-- Messages Section -->
    <section id="messages">
        <h1>Personal Messages: Reflections of a Scientist</h1>
        <p>Messages and thoughts that guide my journey as a scientist, thinker, and dreamer.</p>

        <!-- Profile link -->
        <p><a href="#profile" class="profile-link">Click here to view my profile.</a></p>

        <!-- Profile Section -->
        <section id="profile" class="section-container">
            <h2>My Profile</h2>
            <p>This section contains personal information about me, my research, and my journey as a scientist.</p>
        </section>
    </section>

    <script src="static/js/messages.js"></script>

</body>
</html>
