<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/movies.css">
    <title>Cosmic Cinema - My View</title>
</head>
<body>

    <!-- Navigation -->
    <header>
        <nav class="navbar">
            <div class="logo">Void</div>
            <div class="menu-icon" id="menu-icon">
                &#9776;
            </div>
            <ul class="nav-links" id="nav-links">
                <li><a href="index.html">Here</a></li>
                <li><a href="quotes.html">Metaphors</a></li>
                <li><a href="movies.html">Frames</a></li>
                <li><a href="songs.html">Beats</a></li>
                <li><a href="messages.html">Chat</a></li>
            </ul>
        </nav>
    </header>

    <!-- Movies Section -->
    <section id="movies">
        <h1>Cosmic Cinema: Movies That Inspire</h1>
        <p>Films that explore the mysteries of the universe, from space exploration to theoretical physics.</p>
    </section>

    <script src="static/js/movies.js"></script>

</body>
</html>
